@media print {
    #about * { display: none; }
    #contact * { display: none; }
    #ideas * { display: none; }
    .tm-sidebar, .heading, .blocks, .img-contact-us, .img-fluid {
        display: none;
    }
    h2.tm-section-title {
        color: blue;
      }
    .tm-team-description-container {
        flex-basis: 15rem;
      }
    .tm-team-description-container.flex-item + .flex-item {
        flex-basis: 11rem;
      }
    .tm-banner {
        border: none;
      }
    .padding-medium {
        padding: 0;
      }
    .tm-content-box.flex-2-col {
        justify-content: space-evenly;
      }
    section:before {
        display: none;
    }
}
.tm-box-bg-title:hover {
    background-color: lightskyblue;
  }
h2.tm-section-title.tm-section-title-box.tm-box-bg-title:hover {
    color: #eee;
  }
p:first-letter {
    color: lightskyblue;
    font-size: 30px;
}
.tm-nav-item-link:hover {
    background-color: grey;
}
.mandatory-field::after {
    content: "*";
    color: red;
    font-weight: 600;
}
.btn-primary {
    background-color: white;
    color: lightskyblue;
    border-color: lightskyblue;   
}
.btn-primary:hover {
    background-color: lightskyblue;
    border-color: transparent;   
}
.submit-btn:hover{
    color: white;   
}
.submit-btn {
    border-radius: 0rem;
    float: right;
    padding-left: 60px;
    padding-right: 60px;
}
.tm-sidebar, .tm-content-header, div#home + section > div.tm-content-box.flex-2-col, about, .blocks, .heading, section#ideas, section.tm-content-box {
box-shadow: 1px 1px 5px 2px #9a989e;
}
div.flex-2-col {
box-shadow: none;
}
h2+p:first-of-type {
    font-style: italic;
}
section {
    position: relative;
}
section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 14rem;
    height: 6rem;
    background-color: #87cefa;
    clip-path: polygon(0 0, 0 28%, 100% 0);
}
.tm-content-box.flex-2-col:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#tmCarousel .tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}
div.tm-content-box.flex-2-col:first-child {
    text-indent: 15px;
    line-height: 30px;
}
li.box.box-work {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
li.box.box-work:nth-child(even) {
    background: gainsboro;
}
.tm-content-box .padding-medium ol li:nth-child(3)::after, 
.tm-content-box .padding-medium ol li:first-child::after { 
    content: "New";
    color: red;
    font-size:10px;
    vertical-align: top;
}
.tm-content-box .padding-medium ol a:hover {
    text-decoration: underline double;
}
.tm-content-box .padding-medium ol a:visited {
    text-decoration: underline;
}

